@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typhography" as *;

.about {
  background-color: $background-color;
  padding: 15rem 0;

  @media (max-width: 1020px) {
    padding: 8rem 0;
  }
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  @media (max-width: 1020px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.text-side {
  padding-right: 1.5rem;
  text-align: center;
  @media (max-width: 1020px) {
    max-width: 54rem;
    margin: 0 auto;
  }

  @media (max-width: 400px) {
    padding-right: 0;
  }

  span {
    text-decoration: underline $header-color;
  }

  h3 {
    font-size: $text-size;
    color: $header-color;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: $headings-size;
    font-family: $title-font;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: $black-shade;
  }

  p {
    font-size: $text-size;
    font-family: $text-font;
    color: $text-color;
    font-weight: 500;
    line-height: 1.5;
  }
}
