@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typhography" as *;

.mobile-menu {
  font-size: 2.3rem;
  cursor: pointer;
  display: none;

  &:hover {
    color: $header-color;
    transition: all 0.3s;
  }

  @media (max-width: 900px) {
    display: flex;
  }
}

.closed-menu {
  left: -100% !important;
}

.open-menu {
  left: 0 !important;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 300;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  .close {
    text-align: end;
    padding: 0 10px 100px 0;

    svg {
      &:hover {
        cursor: pointer;
        color: $header-color;
        transition: all 0.3s;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 2.3rem;
    list-style: none;
    text-align: center;
    padding-top: 10rem;
    a {
      color: $title-color;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $header-color;
        transition: all 0.3s;
      }
    }
  }
}

nav {
  font-size: 2rem;
  width: 100%;
  height: auto;
  padding: 25px 40px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: $background-color;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
  z-index: 200;
  align-items: center;

  @media (max-width: 400px) {
    padding: 25px 30px 25px 30px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;

    @media (max-width: 900px) {
      display: none;
    }

    a {
      color: $black-shade;
      text-decoration: none;
      transition: all 0.23s;
      font-weight: 600;

      @media (max-width: 900px) {
        display: none;
      }

      &:hover{
        color: $header-color;
        text-decoration:underline;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 2rem;

    .nav-img {
      background-image: url(/src/assets/perfil.jpeg);
      width: 10rem;
      height: 10rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 1);

      @media (max-width: 500px) {
        width: 8rem;
        height: 8rem;
      }

      border-radius: 50%;
      position: relative;
    }
  }

  .name {
    cursor: pointer;
    color: $black-shade;
    font-size: 2.2rem;

    a:hover {
      color: $header-color;
      transition: all 0.3s;
    }

    a {
      text-decoration: none;
      color: $title-color;
    }

    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }
}